ICON01	ICO	"Imgs\ICON01.ico"
ICON02	ICO	"Imgs\ICON02.ico"
ICON03	ICO	"Imgs\ICON03.ico"
ICON04	ICO	"Imgs\ICON04.ico"
ICON05	ICO	"Imgs\ICON05.ico"
ICON06	ICO	"Imgs\ICON06.ico"
ICON07	ICO	"Imgs\ICON07.ico"
ICON08	ICO	"Imgs\ICON08.ico"
ICON09	ICO	"Imgs\ICON09.ico"
ICON10	ICO	"Imgs\ICON10.ico"